@keyframes glideinU {
  from {
    opacity: 0;
    transform: translateY(400px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glideinR {
  from {
    opacity: 0;
    transform: translateX(200px); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes glideoutL {
  from {
    animation-delay: 5s;
    opacity: 1;
    transform: translateX(0); 
  }
  to {
    opacity: 0;
    transform: translateX(-1000px);
  }
}