

html{
    scroll-behavior: smooth;
}

body{
    background-color:rgb(222, 255, 242) ;
    overflow-x: hidden;
}

header{
     background-color: rgba(152, 206, 247, 0.957); 
    height: 50px;
    width:1540px;
    margin:-10px;
    position:fixed;
    margin-top:-200px;
}

header button{
    float:right;
    height:30px;
    width:100px;
    border-style: none;
    background-color: transparent;
    margin:10px;
    font-size: 20px;
    color:rgb(245, 40, 167);
    transition-duration: 0.1s;
}


header button:hover{
    font-weight: 700;
    font-size:23px;
    color:aliceblue;
}

.sections{
      height:400px;
      width:1500px;
      margin-left:200px;
      background-color: rgba(250, 235, 215, 0);
      margin-top:200px;
      margin-bottom:200px;
}
.sections h6{
    font-weight:300;
    color:rgb(201, 93, 203);
    margin-top:-10px;
    animation-name: glideinU;
    animation-duration: 1.5s;
}

.sections h3{
   animation-name: glideinR;
    animation-duration: 1s;
}

#brainstorm{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:center;
    background-image: url("./media/brainstorm-final.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size: contain;
}
#testu{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:left;
    background-image: url("./media/testurself.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size: contain;
    background-position:800px;
}

#levelup{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:center;
    background-image: url("./media/levelup.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size: contain;
}

#compete{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:left;
    background-image: url("./media/Leaderboard.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size:350px;
    background-position:800px;
}

#libraries{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:center;
    background-image: url("./media/libraries.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size: 350px;
}

#clock{
    font-size: 50px;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;   
    text-align:left;
    background-image: url("./media/clock.png");
    animation-name: glideinU;
    animation-duration: 1.5s;
    background-repeat:no-repeat;
    background-size: 350px;
    background-position:800px;
}

form {
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(61, 200, 243, 0.756);
  width: 700px;
  margin-left: 325px;
}

form:hover{
   box-shadow: 0px 8px 25px rgba(10, 156, 200, 0.564);
}


form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}


label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 15px;
}


input {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #444;
  outline-offset: 2px;
  box-shadow: 0 1px 2px rgba(193, 59, 188, 0.758);
}

form button {
  width: 680px;
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #b215e2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(193, 59, 188, 0.758);
}

form button:hover {
  background-color: #d83b91;
}

.qcrd{
  margin-top:100px;
  height:100px;
  width:1460px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding:20px;
  padding-top: 10px;
  text-align:center;
  font-size: 30px;
  font-family: sora;
}

.optl{
  height:40px;
  width:600px;
  font-size: 20px;
  margin-top:90px;
  margin-left:60px;
  font-size: 20px;
  border-radius:20px;
  text-align: center;
   cursor:pointer;
  transition-duration: 0.2s;
  background-color: rgb(216, 216, 255);
  border: #333;
  border-width: 2px;
  border-style: solid;
   font-family: sora;
}
.optr{
  height:40px;
  width:600px;
  font-size: 20px;
  margin-top:-40px;
  margin-left:850px;
  font-size: 20px;
  border-radius:20px;
  text-align: center;
   cursor:pointer;
  transition-duration: 0.2s;
   background-color: rgb(216, 216, 255);
  border: #333;
  border-width: 2px;
  border-style: solid;
   font-family: sora;
  
}

.optm{
  height:40px;
  width:600px;
  font-size: 20px;
  margin-top:100px;
  margin-left:450px;
  font-size: 20px;
  border-radius:20px;
  text-align: center;
   cursor:pointer;
  transition-duration: 0.2s;
  background-color: rgb(216, 216, 255);
  border: #333;
  border-width: 2px;
  border-style: solid;
   font-family: sora;
 
}
.optm:hover{
  transform:scale(1.02);
}
.optl:hover{
  transform:scale(1.02);
}
.optr:hover{
  transform:scale(1.02);
}

.qbg{
  height:450px;
  width:1500px;
  margin-left:2px;
  background-color:aquamarine;
  border-radius: 20px;
}

.testnav{
  height:50px;
  width:1500px;
  background-color: rgba(242, 215, 250, 0.792);
  margin-top:50px;
}

#resultcrd{
  width:1450px;
  height:400px;
  background-color: aqua;
  margin-top:20px;
  border-radius:20px;
  padding:20px;
  margin-left:10px;
}
